
a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: green;
}


a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

#footerHome {
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    height: 95px;
    background-color: orange;
}

.footer {
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    height: 95px;
    background-color: orange;
    position: fixed;
    
}

header {
    text-align: center;
    background-color: orange;
}

h1 {
    font-family: garamond;
}

body {
    background-color: lightgoldenrodyellow;
}
